<div class="container" ng-controller="ajoutFormationController" >
<div class="form" >
	
	<div class="input-group">
		<label>
			Code Formation <input  ng-disabled="!operation" type="text" class="form-control" ng-model="dt.codeFormation" placeholder="Tapez code formation">
		</label>
	</div>
	<div class="input-group">
		<label>
			Debut Accreditation : <input type="date" class="form-control" ng-model="dt.debutAccreditation" placeholder="Tapez Debut Accreditation">
		</label>
	</div>
		<div class="input-group">
		<label>
			Diplome : 
		 <select class="form-control" id="sel1" ng-model="dt.diplome" placeholder="Tapez Diplome">
        <option>L</option>
        <option>M</option>
        <option>D</option>
       
      </select>
		</label>
	</div>
		<div class="input-group">
		<label>
			Double Diplome : 
				  <select class="form-control" id="sel1" ng-model="dt.doubleDiplome" placeholder="Tapez code Double Diplome">
        <option>O</option>
        <option>N</option>
      </select>
		</label>
	</div>
		<div class="input-group">
		<label>
			Fin Accreditation : <input type="date" class="form-control" ng-model="dt.finAccreditation" placeholder="Tapez code Fin Accreditation">
		</label>
	</div>	
	<div class="input-group">
		<label>
			NO Anne : 
		</label>
		  <select class="form-control" id="sel1" ng-model="dt.n0Annee" placeholder="Tapez code NO Anne">>
        <option>1</option>
        <option>2</option>
      </select>
	</div>
		<div class="input-group">
		<label>
			Nom Formation : <input type="text"  class="form-control" ng-model="dt.nomFormation" placeholder="Tapez Nom Formation">
		</label>
	</div>
	
	<div class="input-group">
		<button ng-click="savedata(dt)" ng-show="operation" class="btn btn-default" > <a href="#formations">Enregistrer</button>
		<button ng-click="updatefunc(dt)" ng-hide="operation" class="btn btn-default">Editer</button>
		
	</div>
	
	</div>
	
	</div>